<!DOCTYPE html>
<html lang="en" ng-app="demoApp" id="top">
<head>
	<title>mgc samples </title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<script src="lib/bootstrap/docs/assets/js/bootstrap.min.js"></script>
	<script src="http://code.angularjs.org/1.1.1/angular.min.js"></script>
	<script src="angular-ui/build/angular-ui.js"></script>
	<script src="js/prettify.js"></script>
	<script src="lib/select2/select2.js"></script>
	<script src="js/app.js"></script>

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="lib/bootstrap/docs/assets/css/bootstrap.css" >
	<link rel="stylesheet" href="angular-ui/build/angular-ui.css" >
	<link rel="stylesheet" href="css/prettify.css" >
	<link rel="stylesheet" href="lib/select2/select2.css" >
	<link rel="stylesheet" href="css/app.css" >
</head>
<body data-spy="scroll">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="index.html">MGC Samples</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a scrollto href="#top">Home</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">
								Directives
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<!-- gmp26 additions below -->
								<li><a scrollto href="#directives-stepper">Numeric Stepper</a></li>
								<!-- just for ref -->
								<li><a scrollto href="#directives-jq">jQuery Passthrough</a></li>
								<li><a scrollto href="#directives-modal">Modal dialog</a></li>
								<li><a scrollto href="#directives-select2">Select2</a></li>
								<li><a scrollto href="#directives-showhide">Show / Hide / Toggle</a></li>
								<li><a scrollto href="#directives-currency">Currency</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Filters
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a scrollto href="#filters-highlight">Highlight</a></li>
								<li><a scrollto href="#filters-inflector">Inflector</a></li>
								<li><a scrollto href="#filters-unique">Unique</a></li>
								<li><a scrollto href="#filters-format">Format</a></li>
							</ul>
						</li>
					</ul>
					<ul class="pull-right nav">
						<li><a href="https://github.com/angular-ui/angular-ui/graphs/contributors">Contributors</a></li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Need Help?
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="https://github.com/angular-ui/angular-ui/issues?sort=updated&state=open">AngularUI broken or want a new feature?</a></li>
								<li><a href="https://github.com/angular-ui/angular-ui.github.com/issues?sort=updated&state=open">Demo page broken or missing demos?</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div role="main">
		<div class="container">
			<header class="hero-unit" id="overview">
				<p class="pull-right btn-group">
					<a class="btn btn-large" href="https://github.com/angular-ui/angular-ui"><i class="icon-github"></i> Code on Github</a>
					<a class="btn btn-large btn-primary" href="https://github.com/angular-ui/angular-ui/tags"><i class="icon-download-alt icon-white"></i> Download</a>
				</p>
				<h1>MGC Samples</h1>
				<p>Sample uses of the Maths Graphic <a href="http://github.com/gmp26/mgc">MGC</a> framework, a
					Mathematics Education Domain Specific Language derived from <a href="http://angular.github.com">Angular-UI</a>, based on the
				<a href="http://angularjs.org">AngularJS</a> framework.</p>
			</header>

			<section class="" id="defaults">
				<h1>Global Defaults</h1>
				<div class="row">
					<div class="span6">
						<p>You can specify default options for most mgc directives. This way you don't have to pass them every single time you call the directive. Passed options will be merged onto defaults, overriding any pre-existing keys.</p>
						<p>Simply declare the global config on your module: <code>module.value('mgc.config', {})</code>. Each directive should be namespaced by the directive name (without the <code>mgc-</code> prefix).</p>
					</div>
					<div class="span6">
						<p>Here's an example to make <a href="#directives-select2">ui-select2</a> clearable by default:</p>
<pre class="prettyprint linenums" ng-non-bindable>
var myModule = angular.module('myModule', ['ui']);
myModule.value('mgc.config', {
   select2: {
      allowClear: true
   }
});
</pre>
					</div>
				</div>
			</section>

			<!-- gmp26 added directives start -->
			<section id="directives-stepper" ng-controller="StepperCtrl">
				<div class="page-header">
					<h1>Numeric Stepper</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>A Numeric Stepper with mouse-wheel and buttons.</p>
						<div class="well">
							
							<mgc-adjustable min="1" max="10" step="0.1">5</mgc-adjustable>
							
							<div class="btn-group">
							  <button class="btn">2</button>
							  <button class="btn">3</button>
								<input type=number ng-model="amount" value="{{amount}}">
							</div>
							
							<input mgc-stepper type="number" ng-model="amount" value="{{amount}}">
							<input type=number ng-model="amount" value="{{amount}}">
							<div>Stepper value = {{amount}}</div>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>The alternative &lt;input type="number"&gt; does not yet have mouse wheel control or stepper buttons in all browsers. 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<h3>How?</h3>
						<p>This example shows how you can use <code>ui.config</code> for greater convenience. You can still pass the configuration as the expression (even in addition to <code>ui.config</code>).</p>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;span ui-currency ng-model=&quot;nums.pos&quot;&gt;&lt;/span&gt;
&lt;span ui-currency=&quot;{ symbol: '$', zero: 'my-zero-class'}&quot; ng-model=&quot;nums.zero&quot;&gt;&lt;/span&gt;
&lt;span ui-currency ng-model=&quot;nums.neg&quot;&gt;&lt;/span&gt;

&lt;script&gt;
myModule.value(&#x27;ui.config&#x27;, {
   currency: {
      symbol: &#x27;USD$&#x27;,
   }
});
&lt;/script&gt;
&lt;style&gt;
span[ui-currency] {
  display:block;
}
.ui-currency-pos {
  font-weight: bold;
}
.ui-currency-neg {
  font-size: 125%;
}
.my-zero-class {
  color: #000;
}
&lt;/style&gt;
</pre>
					</div>
				</div>
			</section>
			<!-- gmp26 added directives end -->


			<section id="directives-jq">
				<div class="page-header">
					<h1>jQuery Passthrough</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>Call the jQuery function or plugin specified on the element.</p>
						<p>This example shows how to call <a href="http://twitter.github.com/bootstrap/javascript.html#tooltips">the bootstrap tooltip</a> with almost no work:</p>
						<div class="well">
							<p><a title="Easiest. Binding. Ever!" ui-jq="tooltip" ui-options="{placement:'right'}">Hover over me for static Tooltip</a></p>
							<p>
								<a data-original-title="{{tooltip}}" ui-jq="tooltip" ui-options="{placement:'right'}">Fill the input for a dynamic Tooltip:</a>
								<input type="text" ng-model="tooltip" placeholder="Tooltip Content">
							</p>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>Not every jQuery plugin requires creating a new directive just to use it. Instead, use the pass-through directive to rapidly port functionality. It is probably the best solution for 75% of the cases you will encounter.</p>
						<p>If a plugin requires more robust integration with AngularJS then you may need to look into creating a custom directive instead, or <a href="https://github.com/angular-ui/angular-ui/issues?sort=created&direction=desc&state=open">contact us</a> with a request.</p>
					</div>
				</div>

				<h3>How?</h3>
				<p>To call something like <code>$.fn.tooltip()</code> simply do <code>ui-jq="tooltip"</code>. Note that the name of the function must be identical. This also works for normal jQuery commands such as <code>$.fn.slideUp()</code>.</p>
				<p>To pass parameters use the <code>ui-options</code> attribute. The value will be evaluated in the <code>$scope</code> context and passed to the function. If defaults are set, the passed options will extend them. If a string is passed, the default options will be ignored.</p>
				<p>Use the directive name <code>jq</code> for namespacing inside <code>ui.config</code>. Then sub-namespace options for each function by the name of that function (exactly as it is passed to <code>ui-jq</code>) so that you don't have to pass options every time you call the directive.</p>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;a title=&quot;Easiest. Binding. Ever!&quot; ui-jq=&quot;tooltip&quot;&gt;Hover over me for static Tooltip&lt;/a&gt;

&lt;a data-original-title=&quot;{{tooltip}}&quot; ui-jq=&quot;tooltip&quot;&gt;Fill the input for a dynamic Tooltip:&lt;/a&gt;
&lt;input type=&quot;text&quot; ng-model=&quot;tooltip&quot; placeholder=&quot;Tooltip Content&quot;&gt;

&lt;script&gt;
myModule.value(&#x27;ui.config&#x27;, {
   // The ui-jq directive namespace
   jq: {
      // The Tooltip namespace
      tooltip: {
         // Tooltip options. This object will be used as the defaults
         placement: 'right'
      }
   }
});
&lt;/script&gt;
</pre>
			</section>


			<section id="directives-modal" ng-controller="ModalCtrl">
				<div class="page-header">
					<h1>Modal</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>Takes the twitter bootstrap modal and lets you assign an ng-model to it.  You can open/close the modal any way you want: data-* attributes, or use elm.modal('show'), or whatever.  The ng-model you give will always correspond to whether the modal is opened or not, and if you set it it will also change the modal.
						<p>
							<div id="modalGuy" class="fade" ui-modal ng-model="modalShown">
								<div class="modal-header"><h1>Modalin'!</h1></div>
								<div class="modal-body">
									<p>Cool beans, dude.</p>
								</div>
								<div class="modal-footer">
									<a class="btn" data-dismiss="modal">Close bootstrap way</a>
									<a class="btn" ng-click="modalShown=false">Close ng-model way</a>
								</div>
							</div>
							<a class="btn" ng-click="modalShown=true">Open Modal with ng-model</a><br>
							<a class="btn" data-toggle="modal" href="#modalGuy">Open Modal with data-toggle="modal"</a>
						</p>
						<h3>Why?</h3>
						<p>We wanted to be able to open/close a modal programatically, so we stuck an ng-model onto the bootstrap modal and called it a day.</p>
					</div>
					<div class="span6">
						<h3>How?</h3>
						<pre class="prettyprint linenums" ng-non-bindable>
&lt;script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"&gt;&lt;/script&gt;
&lt;div ui-modal class="fade" ng-model="modalShown" id="myModal"&gt;
  Cool, a modal dialog!
  &lt;a data-dismiss="modal"&gt;Close 1&lt;/a&gt;
  &lt;a ng-click="modalShown=false"&gt;Close 2&lt;/a&gt;
&lt;/div&gt;
&lt;a ng-click="modalShown=true"&gt;Open 1&lt;/a&gt;
&lt;a data-toggle="modal" href="#myModal"&gt;Open 2&lt;/a&gt;
						</pre>
					</div>
				</div>
			</section>

			<section id="directives-select2">
				<div class="page-header">
					<h1>Select2</h1>
					<small><a href="http://ivaynberg.github.com/select2/">Select2</a> is inspired by <a href="http://harvesthq.github.com/chosen">Chosen</a></small>
				</div>
				<div class="row">
					<div class="span6">
						<h3>Demo</h3>
						<div class="well">
							<p>Value is: {{select2}} <a ng-click="select2='two'">(choose second)</a></p>
							<select ui-select2 ng-model="select2" data-placeholder="Pick a number">
								<option value=""></option>
								<option value="one">First</option>
								<option value="two">Second</option>
								<option value="three">Third</option>
							</select>
						</div>
					</div>
					<div class="span6">
						<h3>Options</h3>
						<p>You can pass an object to Select2 as the expression: <code>ui-select2="{allowClear:true}"</code> that will be passed directly to <code>$.fn.select2()</code>. You can read more about the supported list of options and what they do on the <a href="http://ivaynberg.github.com/select2/">Select2 Documentation Page</a>. AngularUI will leverage properties passed to Select2 for any complex behavior, there are no parameters necessary for that are specific to AngularUI.</p>
					</div>
				</div>
				<p class="alert alert-info"><i class="icon-info-sign"></i> <code>ui-select2</code> is incompatible with <code>&lt;select ng-options&gt;</code>. For the best results use <code>&lt;option ng-repeat&gt;</code> instead</p>
				<p class="alert alert-info"><i class="icon-info-sign"></i> In order to properly support the Select2 placeholder, create an empty <code>&lt;option&gt;</code> tag at the top of the <code>&lt;select&gt;</code> and either set a <code>data-placeholder</code> on the select element or pass a <code>placeholder</code> option to Select2.</p>

				<h3>How?</h3>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;p&gt;Value is: {{select2}} &lt;a ng-click=&quot;select2=&#x27;two&#x27;&quot;&gt;(choose second)&lt;/a&gt;&lt;/p&gt;
&lt;select ui-select2 ng-model=&quot;select2&quot;&gt;
	&lt;option value=&quot;&quot;&gt;Pick a number&lt;/option&gt;
	&lt;option value=&quot;one&quot;&gt;First&lt;/option&gt;
	&lt;option value=&quot;two&quot;&gt;Second&lt;/option&gt;
	&lt;option value=&quot;three&quot;&gt;Third&lt;/option&gt;
&lt;/select&gt;
</pre>
<p>Or try playing around with this <a href="http://plnkr.co/edit/X4nBw1?p=preview">sandbox demo</a> to see how AJAX works</p>
			</section>

			<section id="directives-showhide">
				<div class="page-header">
					<h1>Show, Hide and Toggle Alternatives</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>

						<p>Instead of doing <code>ng-show</code> and <code>ng-hide</code> which simply sets <code>display:block/none</code> a <code>ui-show</code> and <code>ui-hide</code> class will be added which can give you tighter control over how things appear or disappear.</p>
						<div class="well">
							<p><a ng-click="showHideAn=!showHideAn">Toggle State: {{!!showHideAn}}</a></p>
							<p class="animate">
								<span ui-show="showHideAn">Show</span>
								<span ui-hide="showHideAn">Hide</span>
								<span ui-toggle="showHideAn">Toggle</span>
							</p>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>CSS3 transitions of course! Applying a class means you can specify exactly how these two states behave. In addition, the show/hide variants do not enforce css rules when they are false (unless you use toggle), so the default CSS can still apply.</p>
						<blockquote>But can't you just do <code>ng-class="{ ui-show : someExpression }"</code>?</blockquote>
						<p>... shutup.</p>
						<p>In all seriousness, this is just a convenience wrapper for using <code>ng-class</code>. This way you can simply swap out instances of <strong>ng</strong> for <strong>ui</strong> to immediately get your customized approach.</p>
					</div>
				</div>

				<h3>How?</h3>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;p&gt;&lt;a ng-click=&quot;showHide=!showHide&quot;&gt;Toggle State: {{!!showHide}}&lt;/a&gt;&lt;/p&gt;
&lt;div ui-show=&quot;showHide&quot;&gt;Show&lt;/div&gt;
&lt;div ui-hide=&quot;showHide&quot;&gt;Hide&lt;/div&gt;
&lt;div ui-toggle=&quot;showHide&quot;&gt;Toggle&lt;/div&gt;

&lt;style&gt;
.ui-show {
	color: blue;
	transition: all 0.5s ease; // You should probably browser-prefix this
}
.ui-hide {
	opacity: 0;
	transition: all 0.5s ease; // You should probably browser-prefix this
}
&lt;/style&gt;
</pre>
				<p>Using <code>ui-show</code> or <code>ui-hide</code> will add a class of the same name when the expression is true.</p>
				<p>Use <code>ui-toggle</code> if you want to leverage both classes, as <code>ui-show</code> will be added when true and <code>ui-hide</code> when false.</p>
			</section>


			<section id="directives-currency" ng-controller="CurrencyCtrl">
				<div class="page-header">
					<h1>Currency</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>Angular currencyFilter wrapper</p>
						<div class="well">
							<span ui-currency ng-model="nums.pos"></span>
							<span ui-currency="{ symbol: '$', zero: 'my-zero-class'}" ng-model="nums.zero"></span>
							<span ui-currency ng-model="nums.neg"></span>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>In angular, you are able to specify what the currency symbol is (however, you might not want to change it for localization).
							This directive gives greater control over your currency elements by allowing you to set CSS styles based on the number's sign.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<h3>How?</h3>
						<p>This example shows how you can use <code>ui.config</code> for greater convenience. You can still pass the configuration as the expression (even in addition to <code>ui.config</code>).</p>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;span ui-currency ng-model=&quot;nums.pos&quot;&gt;&lt;/span&gt;
&lt;span ui-currency=&quot;{ symbol: '$', zero: 'my-zero-class'}&quot; ng-model=&quot;nums.zero&quot;&gt;&lt;/span&gt;
&lt;span ui-currency ng-model=&quot;nums.neg&quot;&gt;&lt;/span&gt;

&lt;script&gt;
myModule.value(&#x27;ui.config&#x27;, {
   currency: {
      symbol: &#x27;USD$&#x27;,
   }
});
&lt;/script&gt;
&lt;style&gt;
span[ui-currency] {
  display:block;
}
.ui-currency-pos {
  font-weight: bold;
}
.ui-currency-neg {
  font-size: 125%;
}
.my-zero-class {
  color: #000;
}
&lt;/style&gt;
</pre>
					</div>
				</div>


			</section>



			<section id="filters-highlight">
				<div class="page-header">
					<h1>Highlight</h1>
				</div>
				<h3>What?</h3>
				<p>Easily highlight some text in a block</p>
				<div class="well">
					<p><label><input type="checkbox" ng-model="caseSensitive"> Case Sensitive?</label></p>
					<p><input placeholder="Enter some text to highlight" ng-model="highlightText"></p>
					<p ng-bind-html-unsafe="'Hello there, how are you today? I\'m fine thank you.' | highlight:highlightText:caseSensitive"></p>
				</div>

				<h3>How?</h3>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;label&gt;&lt;input type=&quot;checkbox&quot; ng-model=&quot;caseSensitive&quot;&gt; Case Sensitive?&lt;/label&gt;
&lt;input placeholder=&quot;Enter some text to highlight&quot; value=&quot;you&quot; ng-model=&quot;highlightText&quot;&gt;
&lt;p ng-bind-html-unsafe=&quot;&#x27;Hello there, how are you today? I\'m fine thank you.&#x27; | highlight:highlightText:caseSensitive&quot;&gt;&lt;/p&gt;

&lt;style&gt;
.ui-match { background: yellow; }
&lt;/style&gt;
</pre>
			</section>

			<section id="filters-inflector" ng-controller="InflectorCtrl">
				<div class="page-header">
					<h1>Inflector</h1>
				</div>
				<h3>What?</h3>
				<p>Converts a string to an alternative format.</p>
				<div class="well">
					<p>
						<label><input type="radio" value="humanize" ng-model="inflectorType"> Humanize (Default)</label>
						<label><input type="radio" value="underscore" ng-model="inflectorType"> Underscore</label>
						<label><input type="radio" value="variable" ng-model="inflectorType"> Variable</label>
					</p>
					<p><input placeholder="Enter some text to inflect" ng-model="inflectorText"></p>
					<!--<p>{{inflectorText|inflector:inflectorType}}</p>-->
				</div>

				<h3>How?</h3>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;humanize&quot; ng-model=&quot;inflectorType&quot;&gt; Humanize (Default)&lt;/label&gt;
&lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;underscore&quot; ng-model=&quot;inflectorType&quot;&gt; Underscore&lt;/label&gt;
&lt;label&gt;&lt;input type=&quot;radio&quot; value=&quot;variable&quot; ng-model=&quot;inflectorType&quot;&gt; Variable&lt;/label&gt;

&lt;input placeholder=&quot;Enter some text to inflect&quot; ng-model=&quot;inflectorText&quot;&gt;
&lt;p&gt;{{inflectorText|inflector:inflectorType}}&lt;/p&gt;

&lt;script&gt;
$scope.inflectorText = &#x27;Here Is my_phoneNumber&#x27;;
$scope.inflectorType = &#x27;humanize&#x27;;
&lt;/script&gt;
</pre>
			</section>

			<section ng-controller="UniqueCtrl" id="filters-unique">
				<div class="page-header">
					<h1>Unique</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>Filters out all duplicate objects items from an array by checking the specified key</p>
						<div class="well">
							<p>Select an attribute to check for uniqueness</p>
							<select ng-model="attribute">
								<option value="">-- No Filter --</option>
								<option>firstName</option>
								<option>lastName</option>
								<option>id</option>
								<option>gender</option>
							</select>
							<pre>{{items | unique:attribute | json}}</pre>
						</div>
					</div>
					<div class="span6">
						<h3>How?</h3>
						<p>The filter can take the name of the key to check for uniqueness or set to a non-string truthy value to check the entire object.</p>
<pre class="prettyprint linenums" ng-non-bindable>
&lt;select ng-model=&quot;attribute&quot;&gt;
	&lt;option value=&quot;&quot;&gt;-- No Filter --&lt;/option&gt;
	&lt;option&gt;firstName&lt;/option&gt;
	&lt;option&gt;lastName&lt;/option&gt;
	&lt;option&gt;id&lt;/option&gt;
	&lt;option&gt;gender&lt;/option&gt;
&lt;/select&gt;
&lt;pre&gt;{{items | unique:attribute | json}}&lt;/pre&gt;

&lt;script&gt;
$scope.items = [
  { firstName: &#x27;Dean&#x27;, lastName: &#x27;Sofer&#x27;,
	id: 1, gender: &#x27;Male&#x27; },
  { firstName: &#x27;Dean&#x27;, lastName: &#x27;Kuntz&#x27;,
	id: 2, gender: &#x27;Male&#x27; },
  { firstName: &#x27;Peter&#x27;, lastName: &#x27;Piper&#x27;,
	id: 3, gender: &#x27;Female&#x27; },
  { firstName: &#x27;Peter&#x27;, lastName: &#x27;Darwin&#x27;,
	id: 4, gender: &#x27;Male&#x27; },
  { firstName: &#x27;Janet&#x27;, lastName: &#x27;Piper&#x27;,
	id: 5, gender: &#x27;Female&#x27; },
  { firstName: &#x27;Dan&#x27;, lastName: &#x27;Doyon&#x27;,
	id: 6, gender: &#x27;Male&#x27; },
  { firstName: &#x27;Andy&#x27;, lastName: &#x27;Joslin&#x27;,
	id: 1, gender: &#x27;Male&#x27; },
];
&lt;/script&gt;
</pre>
					</div>
				</div>
			</section>

			<section ng-controller="FormatCtrl" id="filters-format">
				<div class="page-header">
					<h1>Format</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>Replace tokens in a string in a variety of ways</p>
						<div class="well">
							<label><input ng-model="sentence" class="span5" type="text"></label>
							<label>
								<input type="radio" ng-model="mode" value="string">
								Token (string):
								<input ng-model="tokens.string" class="span3" type="text" placeholder="$0">
							</label>
							<label>
								<input type="radio" ng-model="mode" value="array">
								Token (array):
								<input ng-model="tokens.array[0]" class="span1" type="text" placeholder="$0">
								<input ng-model="tokens.array[1]" class="span1" type="text" placeholder="$1">
								<input ng-model="tokens.array[2]" class="span1" type="text" placeholder="$2">
							</label>
							<label>
								<input type="radio" ng-model="mode" value="object">
								Token (object):
								<input ng-model="tokens.object.name" class="span2" type="text" placeholder=":name">
								<input ng-model="tokens.object.subject" class="span2" type="text" placeholder=":subject">
							</label>
							<p>{{ sentence | format : tokens[mode] }}</p>
							<pre>Tokens: {{ tokens[mode] | json }}</pre>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>Most commonly, this filter is helpful for internationalization. However anywhere you need to do string replacement the format filter will come in handy.</p>
						<h3>How?</h3>
<pre class="prettyprint linenums" ng-non-bindable>{{ "Hello $0, how are you?" | format : &#39;Bob&#39; }}
-- or --
$scope.tokens = [&#39;first&#39;,&#39;second&#39;,'third&#39;];
...
{{ "Are you on the $0, $1 or $2?" | format : tokens }}
-- or --
$scope.tokens = { name:&#39;Bob&#39;, subject:&#39;wife&#39; };
...
{{ "Hey :name, how's the :subject?" | format : tokens }}</pre>
					</div>
				</div>
			</section>
		</div>
	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17352735-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
