<!DOCTYPE html>
<html lang="en" ng-app="demoApp" id="top">
<head>
	<title>mgc samples </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://code.angularjs.org/1.1.1/angular.js"></script>
	<script src="mgc/build/mgc.js"></script>
	<script src="js/prettify.js"></script>
	<script src="js/app.js"></script>

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="mgc/build/mgc.css" >
	<link rel="stylesheet" href="css/prettify.css" >
	<link rel="stylesheet" href="css/app.css" >
</head>
<body data-spy="scroll">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="index.html">MGC Samples</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a scrollto href="#top">Home</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">
								Directives
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<!-- gmp26 additions below -->
								<li><a scrollto href="#directives-stepper">Numeric Stepper</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Filters
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							</ul>
						</li>
					</ul>
					<ul class="pull-right nav">
						<li><a href="https://github.com/gmp26/mgc/graphs/contributors">Contributors</a></li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Need Help?
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="https://github.com/gmp26/mgc/issues?sort=updated&state=open">MGC broken or want a new feature?</a></li>
								<li><a href="https://github.com/gmp26/mgc-samples/issues?sort=updated&state=open">Demo page broken or missing demos?</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div role="main">
		<div class="container">
			<header class="hero-unit" id="overview">
				<p class="pull-right btn-group">
					<a class="btn btn-large" href="https://github.com/gmp26/mgc"><i class="icon-github"></i> Code on Github</a>
					<a class="btn btn-large btn-primary" href="https://github.com/gmp26/mgc/tags"><i class="icon-download-alt icon-white"></i> Download</a>
				</p>
				<h1>MGC Samples</h1>
				<p>
				<span class="label label-warning">Unstable</span> Do not use.</p>
				<p>Sample uses of the Maths Graphic <a href="http://github.com/gmp26/mgc">MGC</a> framework, a
					Mathematics Education Domain Specific Language, based on the
				<a href="http://angularjs.org">AngularJS</a> framework.</p>
			</header>


			<!-- gmp26 added directives start -->
			<section id="directives-stepper" ng-controller="StepperCtrl">
				<div class="page-header">
					<h1>Numeric Stepper</h1>
				</div>
				<div class="row">
					<div class="span6">
						<h3>What?</h3>
						<p>A Numeric Stepper with mouse-wheel and buttons.</p>
						<div class="well">
						
							<div class="input-prepend input-append">
							  <button class="btn icon-arrow-left" type="button" ng-click="decrement()"></button>
							  <input class="span2" ng-model="amount" type="number" value="{{amount}}">
							  <button class="btn icon-arrow-right" type="button" ng-click="increment()"></button>
							</div>
							
							<input type="number" ng-model="amount" value="{{amount}}" mgc-stepper="{icons: {left: 'icon-arrow-down', right: 'icon-arrow-right' }}">
							

							<div>Stepper value = {{amount}}</div>
						</div>
					</div>
					<div class="span6">
						<h3>Why?</h3>
						<p>The alternative &lt;input type="number"&gt; does not yet have mouse wheel control or stepper buttons in all browsers. 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<h3>How?</h3>
						<p></p>
<pre class="prettyprint linenums" ng-non-bindable>
	<b>Hello</b>
</pre>
					</div>
				</div>
			</section>
			<!-- gmp26 added directives end -->

</body>
</html>
